@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: rgb(55, 120, 224);
  color: white;
}

body {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.inline-flex {
  display: inline flex;
}

.d-block {
  display: block;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-row-center {
  justify-content: center;
}

.main-container {
  width: 100%;
}

.flex-item {
  width: 50%;
}

.header {
  align-self: start;
  font-family: 'Oswald', 'Courier New', Courier, monospace;
  letter-spacing: 0.05rem;
}

.header > * {
  padding: 1rem;
}

.result {
  width: 70%;
}

.result-message {
  text-align: center;
}

.scores {
  height: 100%;
  overflow-y: auto;
}

.scores-section div > * {
  margin-bottom: 1rem;
}

.scores-section header > h2 {
  margin-right: 1rem;
  font-family: 'Oswald', 'Courier New', Courier, monospace;
  letter-spacing: 0.05rem;
}

.input-section header {
  text-align: center;
  font-family: 'Oswald', 'Courier New', Courier, monospace;
  letter-spacing: 0.05rem;
}

.input-section input {
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
  border: 0.15rem solid rgb(168, 223, 240);
  border-radius: 0.4rem;
}

.input-section input:focus {
  border-color: white;
}

.input-section div * {
  margin-bottom: 1rem;
}

.input-section div {
  width: 65%;
}

#form {
  margin: 0;
}

#name,
#score {
  align-self: stretch;
}

.submit-button {
  padding: 0.5rem 1rem;
  outline: none;
  border: 0.15rem solid white;
  border-radius: 0.4rem;
  background-color: rgb(61, 197, 238);
  font-weight: bold;
  font-size: 1rem;
  transition: scale 0.1s;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: white;
  color: rgb(61, 197, 238);
  border-color: rgb(61, 197, 238);
  scale: 1.05;
}

#result {
  padding: 0.25rem;
}

.refresh-button {
  border: 0.2rem solid rgb(61, 197, 238);
  background-color: white;
  color: rgb(61, 197, 238);
  border-radius: 0.4rem;
  padding: 0 0.5rem;
}

.refresh-button:hover {
  border-color: white;
  background-color: rgb(61, 197, 238);
  color: white;
}

.refresh-button:active {
  scale: 1.1;
}

i {
  color: inherit;
  background-color: transparent;
}

li {
  display: block;
}

@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .flex-item {
    width: unset;
  }

  section {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 996px) {
  .full-width-container {
    width: 60%;
  }
}
